[submodule "accelerators/dynamodb/terraform-aws-cfi-dynamodb"]
	path = accelerators/dynamodb/terraform-aws-cfi-dynamodb
	url = https://github.com/finos/terraform-aws-cfi-dynamodb.git
[submodule "accelerators/kubernetes/aks/terraform-azurerm-cfi-aks"]
	path = accelerators/kubernetes/aks/terraform-azurerm-cfi-aks
	url = https://github.com/finos/terraform-azurerm-cfi-aks.git
[submodule "accelerators/kubernetes/eks/terraform-aws-cfi-eks"]
	path = accelerators/kubernetes/eks/terraform-aws-cfi-eks
	url = https://github.com/finos/terraform-aws-cfi-eks.git
[submodule "accelerators/kubernetes/gke/terraform-google-cfi-gke"]
	path = accelerators/kubernetes/gke/terraform-google-cfi-gke
	url = https://github.com/finos/terraform-google-cfi-gke.git
[submodule "accelerators/postgresql/azure/terraform-azurerm-cfi-postgresql"]
	path = accelerators/postgresql/azure/terraform-azurerm-cfi-postgresql
	url = https://github.com/finos/terraform-azurerm-cfi-postgresql.git
[submodule "accelerators/sqs/terraform-aws-cfi-sqs"]
	path = accelerators/sqs/terraform-aws-cfi-sqs
	url = https://github.com/finos/terraform-aws-cfi-sqs.git
[submodule "accelerators/redshift/terraform-aws-cfi-redshift"]
	path = accelerators/redshift/terraform-aws-cfi-redshift
	url = https://github.com/finos/terraform-aws-cfi-redshift.git
[submodule "accelerators/lambda/terraform-aws-cfi-lambda"]
	path = accelerators/lambda/terraform-aws-cfi-lambda
	url = https://github.com/finos/terraform-aws-cfi-lambda.git
